<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Mastodon Frontend</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Welcome to Mastodon Frontend</h1>
    
    <form action="/login" method="post">
        <label for="instance">Instance:</label>
        <input type="text" id="instance" name="instance" required><br>
        
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required><br>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>
